* {
  margin: none;
  box-sizing: border-box;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 80px;
  color: #1877f2;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ebee;
}

.center {
  display: flex;
  padding: 20px;
  padding-bottom: 40px;
  flex-direction: column;
  min-height: 400px;
  width: 500px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
  border-radius: 20px;
}
.forget:hover {
  text-decoration-line: underline;
}
input {
  min-width: 450px;
  min-height: 60px;
  font-size: larger;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px 25px 10px;
  outline: none;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input:focus {
  outline: #1877f2;

  box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
}
.forget {
  text-align: center;
}
